@use "sass:color";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "poppins";
    line-height: 1.5;
    background-color: #f8f8f8;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
    --font-1: "Roboto";
    --font-2: "Poppins";
    --font-3: "Agdasima";
    --clr_1: #ff9100;
}

$clr-1: #ffe600;

.bton {
    cursor: pointer;
    border: 2px solid #000;
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 300ms;

    &.subm {
        background-color: var(--clr_1);
        font-size: 1.2rem;
    }

    &:hover {
        background-color: var(--clr_1);
    }

    &:active {
        background-color: color.scale(#f0a80c, $lightness: 10%);
    }

}

.nav {
    background-color: transparent;
    color: #000;
    transition: color 200ms, background-color 300ms ease-out;
}

.scrolled {
    background-color: #fff;
    color: #000;
}

.open_contact {
    display: block;
}

.close_contact {
    display: none;
}